@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Raleway:wght@500&display=swap');
.Title{
  color:white;
}
a {
  color:black;
  text-decoration: none;
}
h1 {
  font-size:45px;
  font-family: 'Raleway';
  color:white;
  text-align:center;
  margin:0px;
  padding:15px;
  background-color:#DDDDDD;
  border-bottom:1px solid white;
  background-image: url('titleimage.jpg');
  background-position: center;
}
h2 {
  font-size:20px;
  color:black;
  text-align:center;
  margin:0px;
  padding:20px;
}
.grid{
  display: grid;
  grid-template-columns: 120px 1fr;
  column-gap:1px;
}
.grid ol{padding-left:10px}
.contents{
  #border-right:1px solid gray;
  background-color: #D7F1FA;
  #margin-right:1px;
  font-family: 'Gowun Batang';
}
.article{
  padding-left: 20px;
  font-family: 'Gowun Batang';
}
#active{
  font-weight:bold;
  text-decoration:underline;
}
@media(max-width:800px){
  .grid{
    display: block;
  }

}
